@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: $body-bg;
}

button:hover{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: $main-color;
}

main{
  padding: 2rem 5rem 2rem 5rem;
}

ul>li{
  list-style: none;
}