$main-color: #2579F2; //Màu xanh chủ đạo của trang web
$dark-main-color: #0A59CC; //Màu xanh đậm
$light-main-color: #0b5cd5; //Màu xanh đậm
$body-bg: #F9F4F4;//Màu trắng chính của body background trang web
$section-bg: #fff;//Màu trắng của section background của trang web
$font-color: #000;//Màu của font chữ
$lightfont-color: #6B7280;//Màu font nhạt
$shadow-color: rgba(136, 136, 136, 0.5);//Màu shadow
$star-color: #FFC400;//Màu Rating
$list-header-color: #D70018;//Màu header của các list header Page trang chủ
$border-color1: #CFCFD3;//Màu border 1
$border-color2: #101010;//Màu border 2
$border-color3: #F8F9FB;//Màu border 3
//Có thể thêm màu khác ở đây