.Management{
    padding: 1rem 5rem 1rem 5rem;
    display: flex;
    justify-content: space-between;
}

.Management>div:first-child{
    background-color: $section-bg;
    min-height: 500px;
    border-radius: 10px 10px 10px 10px;
    min-width: 220px;
}

.Management ul{
    li{
        padding: 1.75rem;
    }
    a{
        color: $font-color;
        font-weight: 500;
        font-size: 0.95rem;
    }
}

.Management>div:last-child{
    background-color: $section-bg;
    min-height: 500px;
    min-width: 850px;
    border-radius: 10px 10px 10px 10px;
    padding: 2rem;
}






