.Management{
    padding: 1rem 5rem 1rem 5rem;
    display: flex;
    justify-content: space-between;
}

.Management>div:first-child{
    background-color: $section-bg;
    min-height: 500px;
    border-radius: 10px 10px 10px 10px;
    width: 200px;
}

.Management ul{
    li{
        padding: 1.4rem;
        border-bottom: 1px solid rgb(224, 224, 224);
    }
    a{
        color: rgb(89, 89, 89);
        font-weight: 500;
        font-size: 0.95rem;
    }
    a:hover{
        color: $font-color;
    }
}

.Management>div:last-child{
    background-color: $section-bg;
    min-height: 500px;
    width: 750px;
    border-radius: 10px 10px 10px 10px;
    padding: 2rem;
}